#calendar {
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
}

#calendar thead {
  background: #26a69a;
  color: white;
  font-weight: normal;
}

#calendar thead th {
  padding: 2px 10px;
  width: 80px;
}

#calendar tbody {

}

#calendar tr.hour td {
  border-top: 1px solid silver;
}

#calendar tr.hour-half td {
  border-top: 1px dashed silver;
}

#calendar td {
  font-size: 8px;
  padding: 0px;
}

#calendar th.hour {
  color: #666;
  font-size: 10px;
  height: 10px;
  padding: 0px;
}

#calendar th.hour-half {
  color: #aaa;
  font-size: 8px;
}

#calendar td.ui-selecting { background: #00E2CD; }

#calendar td.ui-selected {
  background: #009688;
  border: 1px solid transparent;
  color: white;
 }

 #calendar td.plannified {
   background: #333;
   border: 1px solid transparent;
   color: white;
 }
